@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  --hello: -100%;
  padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #07001F;

  /* Color of the text/words */
  --text-color: #fff;

  /* Main color of your brand */
  --color-primary: #02efee;

  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "NES Controller", "Bebas Regular";

  /* Color of the border around items */
  --border-color: #02efee;
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var(--background-color);
  font-size: 25px;
  font-family: var(--font);
  color: var(--text-color);
  display: flex;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 2rem;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/GT-America-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Regular";
  src: url("/fonts/FontsFree-Net-Bebas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NES Controller";
  src: url("/fonts/NES_Controller_MrShrike.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/PressStart2P-vaV7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
